
.humanity {
  background-color: $ash-back;
  padding: 60px 0px;
  
  .humanity-item {
    height: 115vh;
    background-color: $white;
    display: flex;
    align-items: center;
    .content {
      width: 511px;
      margin: auto;
      h2 {
        color: $base-red;
        padding-bottom: 10px;
      }
    }
  }

  .humanity-item:last-child {
    background-image: url('/img/carmels-group-home-sustainability-description.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
  }
}

@media (min-width: 1000px) {
  .humanity {
    background-color: $ash-back;
    padding: 80px 0px;
    
    .humanity-item {
      height: 90vh;
    }
  
    .humanity-item:last-child {
      height: 90vh;
    }
  }
}