
// Desktop nav
nav {
  position: fixed;
  width: 100%;
  height: 81px;
  padding-top: 10px;
  background-color: transparent;
  display: flex;
  align-items: center;
  transition: all .2s ease-in-out;
  &.onScroll {
    box-shadow: 0 0 10px #aaa;
    background-color: #fff;
    z-index: 1000;
    ul li {
      a {
        color: $body-text;
        
        &.router-link-exact-active {
          color: $base-red;
        }
      }
    }
  }
  &.navigate {
    .container {
      display: flex;
      justify-content: space-between;
      img {
        width: 200px;
      }
      ul {
        display: flex;
        list-style: none;
        li {
          a {
            &.router-link-exact-active {
              color: $base-red;
            }
          }
        }
      }
    }
  }
}

// Mobile nav
body {
  margin: 0;
  line-height: 1.4;
}

.window {
  box-shadow: 0 0 65px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 3px;
  background: #F1F1F1;
}
.window .header {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background: #FFF;
  overflow: hidden;
  transition: all 0.5s ease-out, background 1s ease-out;
  transition-delay: 0.2s;
  z-index: 1;
}
.window .header .burger-container {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.icon-apple img {
  width: 152px;
}
.window .header .burger-container #burger {
  width: 18px;
  height: 8px;
  position: relative;
  display: block;
  margin: -4px auto 0;
  top: 50%;
}
.window .header .burger-container #burger .bar {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  background: #000;
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0s;
}
.window .header .burger-container #burger .bar.topBar {
  transform: translateY(0px) rotate(0deg);
}
.window .header .burger-container #burger .bar.btmBar {
  transform: translateY(6px) rotate(0deg);
}
.window .header .icon {
  display: inline-block;
  position: absolute;
  height: 100%;
  line-height: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #000;
  font-size: 22px;
  left: 25%;
  transform: translateX(-50%);
}
.window .header .icon.icon-bag {
  right: 0;
  top: 0;
  left: auto;
  transform: translateX(0px);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.65s;
}
.window .header ul.menu {
  position: relative;
  display: block;
  padding: 0px 48px 0;
  list-style: none;
}
.window .header ul.menu li.menu-item {
  /* border-bottom: 1px solid #333; */
  margin-top: 5px;
  transform: scale(1.15) translateY(-30px);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.window .header ul.menu li.menu-item:nth-child(1) {
  transition-delay: 0.49s;
}
.window .header ul.menu li.menu-item:nth-child(2) {
  transition-delay: 0.42s;
}
.window .header ul.menu li.menu-item:nth-child(3) {
  transition-delay: 0.35s;
}
.window .header ul.menu li.menu-item:nth-child(4) {
  transition-delay: 0.28s;
}
.window .header ul.menu li.menu-item:nth-child(5) {
  transition-delay: 0.21s;
}
.window .header ul.menu li.menu-item:nth-child(6) {
  transition-delay: 0.14s;
}
.window .header ul.menu li.menu-item:nth-child(7) {
  transition-delay: 0.07s;
}

.window .header ul.menu li.menu-item a {
  display: block;
  position: relative;
  color: #000;
  font-family: $regular-fonts !important;
  font-weight: 100;
  text-decoration: none;
  font-size: 22px;
  line-height: 2.35;
  font-weight: 200;
  width: 100%;
}
.window .header ul.menu li.menu-item a:active,
.window .header ul.menu li.menu-item a:hover,
.window .header ul.menu li.menu-item a.router-link-exact-active {
  color: #ee3c24;
}
.window .header.menu-opened {
  height: 100%;
  background-color: #fff;
  transition: all 0.3s ease-in, background 0.5s ease-in;
  transition-delay: 0.25s;
}
.window .header.menu-opened .burger-container {
  transform: rotate(90deg);
}
.window .header.menu-opened .burger-container #burger .bar {
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.2s;
}
.window .header.menu-opened .burger-container #burger .bar.topBar {
  transform: translateY(4px) rotate(45deg);
}
.window .header.menu-opened .burger-container #burger .bar.btmBar {
  transform: translateY(3px) rotate(-45deg);
}
.window .header.menu-opened ul.menu li.menu-item {
  transform: scale(1) translateY(0px);
  opacity: 1;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(1) {
  transition-delay: 0.27s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(2) {
  transition-delay: 0.34s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(3) {
  transition-delay: 0.41s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(4) {
  transition-delay: 0.48s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(5) {
  transition-delay: 0.55s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(6) {
  transition-delay: 0.62s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(7) {
  transition-delay: 0.69s;
}
.window .header.menu-opened .icon.icon-bag {
  transform: translateX(75px);
  transition-delay: 0.3s;
}

.window .content::-webkit-scrollbar {
  display: none;
}
.window .content h2 {
  margin-bottom: 0px;
  letter-spacing: 1px;
}
.window .content img {
  width: 95%;
  position: relative;
  display: block;
  margin: 75px auto 75px;
}
.window .content img:nth-of-type(2) {
  margin: 75px auto;
}
// Bg-hero

.bg-hero {
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.48)), url('/img/carmels-group-hero-section.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  padding-top: 60px;
  .container {
    color: $white;
  }
}

// Our invest
.our-investments {
  padding: 65px 0px;
  background-color: $ash-back;
  h2 {
    color: $base-red;
    text-align: center;
    padding-bottom: 40px;

  }
  .card {
    border: 0px;
  }
  .invest-thumbnail {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    display: flex;
    align-items: flex-end;
    color: $white;
    .content {
      width: 100%;
      margin-bottom: 20px;
      h5 {
        text-align: center;
        width: 188px;
        margin: auto;
        font-family: $header-font;
      }
    }
  }
}

// about
.about-items {
  height: 65vh;
  background-color: $base-red;
  color: $white;
  display: flex;
  align-items: center;
  p {
    color: $white;
  }

}
.about-items:last-child {
  background-image: url('/img/carmels-group-home-about-us.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}

// Sustainability-home
.sustainablity-home {
  background-color: $ash-back;
  padding: 90px 0px;

  .sustainablity-items {
    height: 40vh;
    background-image: url('/img/carmels-group-home-sustainability.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
  }
  .sustainablity-items:last-child {
    height: 65vh;
    background: $white;
    .content {
      width: 417px;
      margin: auto;
      h6 {
        color: $base-red;
      }
      h2 {
        color: $base-red;
      }
      p {
        padding-top: 20px;
      }
    }
  }
}

.our-commitment {
  background: linear-gradient(rgba(4, 7, 15, 0.48), rgba(3, 3, 5, 0.48)), url('/img/carmels-group-commitment-bg.jpg');
  height: 70vh;
  display: flex;
  align-items: center;
  .content {
    color: $white;
    margin: auto;
    width: 761px;
    h1 {
      font-size: 2.5rem;
    }
    h3 {
      color: $white;
    }
  }
}

// Footer
.footer {
  background-color: #0e1e43;
  padding: 80px 0px 40px 0px;
  hr {
    height: 1px;
    color: $body-text;
  }
  .footer-img {
    img {
      width: 200px;
      padding-bottom: 40px;
    }
  }
  .footer-nav {
    .footer-nav-item {
      display: block;
      border-bottom: 2px solid $body-text;
      padding-bottom: 20px;
      padding-top: 20px;
      font-size: 18px;
    }
    .footer-social {
      padding-top: 40px;
      font-size: 20px;
      // float: right;
      a {
        padding: 0px 10px;
      }
    }
  }
  
  // .footer-nav

  .copyright {
    color: $white;
    font-family: $regular-fonts;
    display: block;
    text-align: center;
    p {
      color: $white;
      font-size: 12px;
    }
  }
}

@media (min-width: 1000px) {
  .bg-hero {
    height: 120vh;
    padding-top: 0px;
    .container{
      h1 {
        width: 670px;
        font-size: 3.5rem;
      }
    }
  }

  .about-items {
    height: 80vh;
    .content {
      width: 448px;
      margin: auto;
       p {
         padding-top: 20px;
       }
    }
  }
  .about-items:last-child {
    height: 80vh;
  }

  .sustainablity-home {
    .sustainablity-items {
      height: 80vh;
    }
    .sustainablity-items:last-child {
      height: 80vh;
    }
  }

  .our-commitment {
    .content {
      h1 {
        font-size: 3.5rem;
      }
    }
  }

  .footer {
    background-color: #0e1e43;
    padding: 80px 0px 40px 0px;
    .footer-img {
      img {
        width: 200px;
        padding-bottom: 0px;
      }
    }
    .footer-nav {
      .footer-social {
        float: right;
        padding-top: 0px;
      }
    }
    
    .copyright {
      color: $white;
      font-family: $regular-fonts;
      display: flex;
      justify-content: space-between;
    }
  }
}